<h1>OOP Homework Submitting System</h1>
<h3>Please submit your git repository.</h3>
<h5>
We will clone it and take it as your submission.<br/>
Note that you only have to submit once to tell us your repository path.<br/>
We'll pull your latest commit right after deadline.
</h5>
<%= form_tag({:controller => "path", :action => "git"}, :method => :get) do %>
  <%= text_field_tag :path %>
  <%= submit_tag "Submit"%>
<% end %>
<h6>Welcome#index<br/>
Find me in app/views/welcome/index.html.erb</h6>
