<% content_for :header_subtitle do %>Homework Submission Guildline<% end %>
<section>
  <section id="requirements" class="alert alert-info">
    <h4>Requirements</h4>
    <br>
    <ul>
      <li>You <strong>must</strong> push your project to a <strong>private repository</strong> hosted on <a href="http://bitbucket.org/" target="_blank">Bitbucket</a>.</li>
      <li>Before submitting your repository url, you need to share your repository with <a href="http://bitbucket.org/ntu-csie-oop" target="_blank">ntu-csie-oop</a> so that the submission system will be able to access your repository.</li>
      <li>You need to submit the <strong>git-clone</strong> url for your repository, which may look like <a href="http://bitbucket.org/ntu-csie-oop/hello-world" target="_blank">git@bitbucket.org:ntu-csie-oop/hello-world.git</a>, to the submission system before deadline. The submission system will take a snapshot of your repository at the time you submit the url.</li>
      <li>You <strong>should not</strong> submit several different urls for one homework. You will get up to <strong>5-points deduction</strong> from your score if you submit more than one url to the submission system. It is okay to submit one url multiple times.</li>
    </ul>
  </section>
  <section id="get-started">
    <h4>Get Started with Git</h4>
    <p>Git is a distributed version control system, initially designed by Linus Trovalds for Linux kernel development.</p>
    <ul>
      <li>
        <h5>Setup Git</h5>
        <p>See <a href="http://help.github.com/articles/set-up-git" target="_blank">the tutorial on GitHub</a>.</p>
      </li>
      <li>
        <h5>Get an Account</h5>
        <p>You can get unlimited free private repositories on <a href="http://bitbucket.org" target="_blank">Bitbucket</a> with <a href="http://www.atlassian.com/software/views/bitbucket-academic-license.jsp" target="_blank">educational account</a>.</p>
        <p>The most popular choice for hosting Git repositories might be <a href="http://github.com/" target="_blank">GitHub</a>, but you can only have up to 5 private repositories for free with <a href="http://github.com/edu" target="_blank">educational account</a>.</p>
      </li>
      <li>
        <h5>Maintain Your Code with Git</h5>
        <p>If you have never used Git before, you can <a href="http://try.github.com/" target="_blank">try it here</a>. To learn more about Git, you can refer to the book <a href="http://git-scm.com/book" target="_blank">Pro Git</a> written by Scott Chacon.</p>
      </li>
    </ul>
  </section>
  <section id="submit-homework">
    <h4>Submit Your Homework</h4>
    <ul>
      <li>
        <h5>Exclude Unwanted Files</h5>
        <p>As mentioned in the homework, you might want to exclude some files (e.g. class files) from your repository. The easiest way to achieve this goal is to create a file named <code>.gitignore</code> in the root directory of your repository.</p>
        <pre><span class="muted"># Your project directory may look like this.</span>
$ ls -l
<span class="text-success">-rw-r--r--  1 oopta  staff  128  3 31 21:47 Makefile
drwxr-xr-x  5 oopta  staff  170  3 31 21:46 bin
drwxr-xr-x  5 oopta  staff  170  3 31 20:01 src</span>

<span class="muted"># Your ".gitignore" may look like this, so that you will not accidentally add the directory "bin/" to your repository.</span>
$ cat .gitignore
<span class="text-success">bin/</span>

<span class="muted"># After adding ".gitignore", your repository may look like this.</span>
$ git init
<span class="text-success">Initialized empty Git repository in ~/OopHomework3/.git/</span>
$ git status
<span class="text-success"># On branch master
#
# Initial commit
#
# Untracked files:
#   (use "git add &lt;file&gt;..." to include in what will be committed)
#
#       .gitignore
#       Makefile
#       src/
# nothing added to commit but untracked files present (use "git add" to track)</span></pre>
      </li>
      <li>
        <h5>Submit Private Repositories</h5>
        <p>Please go to <span class="text-info">Admin -&gt; Access Management</span> and grant read access to the user <a href="http://bitbucket.org/ntu-csie-oop" target="_blank">ntu-csie-oop</a> before submitting your Git repository url.</p>
      </li>
      <li>
        <h5>Where to Submit?</h5>
        <p>Here <a href="https://oophw.csie.org/">https://oophw.csie.org/</a>. You must have an NTU-CSIE account in order to submit via the system.</p>
      </li>
    </ul>
  </section>
  <section id="other-questions">
    <h4>Some Other Questions</h4>
    <ul>
      <li>
        <h5>Why Version Control?</h5>
        <p>There may still be benefits using version control even if you are working alone. See <a href="http://stackoverflow.com/questions/1408450" target="_blank">StackOverflow: Why should I use version control?</a>.</p>
      </li>
      <li>
        <h5>How is Git different from SVN?</h5>
        <p>The most significant difference is that Git is decentralized, while SVN is not. Therefore, with Git, you can still work even when the remote host is unavailable. See <a href="http://stackoverflow.com/questions/871" target="_blank">StackOverflow: Why is Git better than Subversion?</a>.</p>
      </li>
    </ul>
  </section>
</section>
